set default=0
set timeout=2

insmod efi_gop
insmod font
if loadfont /boot/grub/fonts/unicode.pf2 ; then
    insmod gfxterm
    set gfxmode=auto
    set gfxpayload=keep
    terminal_output gfxterm
fi

menuentry "Covalent-OS 11-11-0 (Volatile RAM-disk AMD APU - Vulkan WebGPU)" {
    linux /boot/vmlinuz quiet loglevel=3 covalent_mode=be_instance covalent_autostart=1 amdgpu.dc=1 amdgpu.sg_display=0
    initrd /boot/initramfs.gz
}

menuentry "Covalent-OS 11-11-0 (Debug / Direct Terminal Shell)" {
    linux /boot/vmlinuz loglevel=7 covalent_mode=debug
    initrd /boot/initramfs.gz
}

